<p id="notice"><%= notice %></p>

<h1>Listing User</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Email</th>
      <th>Details</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
    
        <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_instrument_path(instrument) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <% end %> 
      <tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Instrument', new_user_path %>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
