<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Category</th>
      <th>Brand</th>
      <th>Year</th>
      <th>Details</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<p>
 <tbody>
    <% @user.instruments.each do |instrument| %>
      <tr>
        <td><%= instrument.category %></td>
        <td><%= instrument.brand %></td>
        <td><%= instrument.year %></td>
        <td><%= instrument.details %></td>
        <td><%= instrument.price %></td>
        <% if instrument.appointment == nil %>
          <td><%= link_to 'Purchase!', instrument %></td>
        <% else %>
          <td> Purchased on <%= instrument.appointment.pickup.strftime('%D') %></td>
        <% end %>
        <% end %>
      <tr>
<table>        
<p>

<%= link_to 'Back',user_instruments_path(current_user) %>
