<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @appointment.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @appointment.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @appointment.phone %>
</p>

<p>
  <strong>Location:</strong>
  <%= @appointment.location %>
</p>

<p>
  <strong>Pickup:</strong>
  <%= @appointment.pickup %>
</p>

<p>

<% if current_user.admin %>
<%= link_to 'Edit', edit_appointment_path(@appointment) %> 
<% end %>

<%= link_to 'Back', appointments_url %>
