
<div>
<h1 class="centered title">Previously Purchased Instruments!</h1>
</div>

<div class= "table table-responsive">
 <% @instruments.each do |instrument| %>
  <div class= "col-sm-3 title centered" id= "purchase bar">
    <% if instrument.appointment != nil %>
      <div class= "col-sm-10">
        <%= link_to instrument do %>
        <%= image_tag instrument.avatar.url(:thumb) %>
        <% end %>  
        <div class="row"><%= instrument.category %></div>
        <div class="row"> Purchased by: <%= instrument.appointment.name %></div>
        <div class="row"> Purchased on: <%= instrument.appointment.pickup.strftime('%D') %></div>     
      </div>
    <% end %>  
  </div>
 <% end %>
</div>

<div>
  <h1 class="centered title"> Instruments for Sale!</h1>

<% @instruments.each do |instrument| %>
  <% if instrument.appointment == nil %>
    <div class= "col-md-6 title panel panel-default centered" id= "instrument_index">
      <div class= "col-md-7">
          <%= link_to instrument do %>
          <%= image_tag instrument.avatar.url(:medium) %>
        <% end %>  
      </div>
      <div class= "col-md-4 container-wrapper">  
        <div class="row"><%= instrument.category %></div>
        <div class="row"><%= instrument.brand %></div>
        <div class="row">$<%= instrument.price %></div>
      </div>
      <div>
        <% if instrument.user_id == current_user.id %>
          <%= link_to 'Edit', edit_instrument_path(instrument) %>
          <%= link_to 'Destroy', instrument, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% else %>
        <% end %>
      <% end %>
      </div>
  </div> 
<% end %>    
</div>

<div class="row">
  <%= link_to 'New Instrument', new_user_instrument_path %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</div>
