<p id="notice"><%= notice %></p>

<h1>Instruments for Sale!</h1>

<table class= 'table table-bordered'>
  <thead>
    <tr>
      <th>Category</th>
      <th>Brand</th>
      <th>Year</th>
      <th>Details</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instruments.each do |instrument| %>
      <tr>
        <td><%= instrument.category %></td>
        <td><%= instrument.brand %></td>
        <td><%= instrument.year %></td>
        <td><%= instrument.details %></td>
        <td><%= instrument.price %></td>
        <td><%= link_to 'Show', instrument %></td>


        <% if instrument.user_id == current_user.id %>
          <td><%= link_to 'Edit', edit_instrument_path(instrument) %></td>
          <td><%= link_to 'Destroy', instrument, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <% end %>
        <% end %> 


      <tr>

  </tbody>

</table>

<h2>Purchased Instruments!</h2>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Category</th>
      <th>Purchaser</th>
      <th>Purchase Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>
    <% @instruments.each do |instrument| %>
      <tr>
         <% if instrument.appointment != nil %>
        <td><%= instrument.brand %></td>
         <td><%= instrument.category %></td>
        <td><%= instrument.appointment.name %></td>
        <td><%= instrument.appointment.pickup.strftime('%D') %></td>
        <td><%= link_to 'Show', instrument %></td>

        <% end %>
        <% end %> 
      <tr>

  </tbody>

</table>
<br>

<%= link_to 'New Instrument', new_user_instrument_path %>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
