<p id="notice"><%= notice %></p>

<p><strong>
<%= link_to (@instrument.user.name) + '\'s Profile' , user_path(@instrument.user_id)  %>
</strong>
</p>

<p>
  <strong>Category:</strong>
  <%= @instrument.category %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @instrument.brand %>
</p>

<p>
  <strong>Year:</strong>
  <%= @instrument.year %>
</p>

<p>
  <strong>Details:</strong>
  <%= @instrument.details %>
</p>

<p>
  <strong>Price:</strong>
  <%= @instrument.price %>
</p>

<p>
<%= image_tag @instrument.avatar.url(:medium) %>
</p>

<%= link_to 'Back', user_instruments_path(@instrument) %>

<% if @instrument.user_id == current_user.id %>
  <td><%= link_to 'Edit', edit_instrument_path(@instrument) %></td>
  <td><%= link_to 'Delete', @instrument, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% else %>
<% end %> 
<p>
 <% if @instrument.appointment == nil && @instrument.user_id != current_user.id  %>
<%= link_to 'Purchase', new_instrument_appointment_path(@instrument)  %>
<% end %>
</p>
