<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @instrument.category %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @instrument.brand %>
</p>

<p>
  <strong>Year:</strong>
  <%= @instrument.year %>
</p>

<p>
  <strong>Details:</strong>
  <%= @instrument.details %>
</p>

<p>
  <strong>Price:</strong>
  <%= @instrument.price %>
</p>

<% if @instrument.owner_id == current_user.id %>
  <td><%= link_to 'Edit', edit_instrument_path(@instrument) %></td>
  <td><%= link_to 'Destroy', @instrument, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% else %>
<% end %> 

<%= link_to 'Back', instruments_path %>

<%= link_to 'Owners Page', instruments_path %>
